.tudo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: grey;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ul{
    display: flex;
    justify-content: space-around;
    width:15em;
    list-style: none;
    background-color: yellow;
    font-size: 2rem;
}
.titulo{
    font-size: 2rem;
}